@import 'variables';

@mixin buttonOutline($color, $darker) {
  color: $color;
  border-color: $color;

  &:hover {
    color: #fff;
    background-color: $color;
    border-color: $darker;
  }

  &.active {
    color: #fff;
    background-color: $color;
    border-color: $darker;
  }
}

.mrf-input {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  color: $form-text-color;
  border: 1px solid $form-border-color;
  border-radius: 4px;
  box-sizing: border-box;

  &[readonly] {
    background-color: $readonly-bg-color;
    opacity: 1;
  }
}

.mrf-btn {
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-width: 1px;
  background-color: $form-bg-color;
  color: $form-text-color;


  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}

.mrf-btn_sm {
  font-size: 0.875rem;
  padding: .25rem .5rem;
  line-height: 1.5;
  border-radius: .2rem
}

.mrf-btn_group {
  &>button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &>button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.mrf-btn_red {
  @include buttonOutline($error-color, $error-hover-color)
}

.mrf-btn_green {
  @include buttonOutline($success-color, $success-hover-color)
}

.mrf-btn_blue {
  @include buttonOutline($info-color, $info-hover-color)
}

.mrf-btn_grey {
  @include buttonOutline($neutral-color, $neutral-hover-color)
}

.mrf-txt_red {
  color: $error-color;
}

.mrf-ml_5 {
  margin-left: 5px;
}

.mrf-ml_10 {
  margin-left: 10px;
}

.mrf-mr_5 {
  margin-right: 5px;
}

.mrf-mr_10 {
  margin-right: 10px;
}

.mrf-mt_5 {
  margin-top: 5px;
}

.mrf-mt_10 {
  margin-top: 10px;
}

.mrf-mt_20 {
  margin-top: 20px;
}

.mrf-mb_5 {
  margin-bottom: 5px;
}

.mrf-mb_10 {
  margin-bottom: 10px;
}

.mrf-mb_20 {
  margin-bottom: 20px;
}

.mrf-pt_15 {
  padding-top: 15px;
}

.mrf-p_15 {
  padding: 15px;
}

.mrf-pr_15 {
  padding-right: 15px;
}

.mrf-w_100 {
  width: 100%
}


.mrf-w_50 {
  width: 50%
}

.mrf-d_none {
  display: none;
}

.mrf-flex-wrap {
  flex-wrap: wrap
}

.mrf-flex {
  display: flex;
}

.mrf-flex-column {
  flex-direction: column;
}

.mrf-flex_grow_1 {
  flex-grow: 1;
}

.mrf-jc_between {
  justify-content: space-between;
}

.mrf-jc_end {
  justify-content: end;
}

.mrf-jc_flex_end {
  justify-content: flex-end;
}

.mrf-jc_flex_start {
  justify-content: flex-start;
}

.mrf-ac_center {
  align-content: center;
}

.mrf-ai_center {
  align-items: center;
}

.mrf-cursor_pointer {
  cursor: pointer;
}

.mrf-cursor_not_allowed {
  cursor: not-allowed;
}

.mrf-collapse {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.mrf-collapse_label {
  font-weight: bold;
  margin-top: 7px;
}

.mrf-collapse_label {
  font-weight: bold;
  margin-top: 7px;
}

.mrf-collapse_error {
  color: $error-color
}

.mrf-datepicker {
  & input {
    border-radius: 4px;
  }
}

.mrf-input__boolean__on {
  color: MediumSeaGreen
}

.mrf-input__boolean__off {
  color: $error-color
}

.mrf-input__invalid {
  border-color: $error-color !important;
}

.mrf-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%
}

.mrf-display__none {
  display: none
}

.mrf-collapse__inline {
  & .mrf-form-group+.mrf-form-group {
    margin-left: 20px
  }
}

.mrf-nestedform__border {
  border-left: 2px solid lightGray;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: .5rem;
  padding-bottom: 1rem;
  margin-right: .5rem;
  padding-right: 2.5rem;
}

.mrf-border__error {
  border-color: $error-color
}

.mrf-btn_for_descriptionToolbar {
  text-align: left;
  cursor: pointer;
  height: 22px;
  padding: 4px;
  border: none;
  background: none;
  color: $form-text-color;
  margin-right: 5px;
  margin-left: 5px
}

.mrf-content_switch {
  appearance: none;
}

.mrf-content_switch_button_on {
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  background-color: $success-color;
  border: 1px solid $success-hover-color;
  justify-content: flex-end;
}

.mrf-content_switch_button_on::before {
  content: "";
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: $form-bg-color;
  border-radius: 20px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.mrf-content_switch_button_off {
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  background-color: $error-color;
  border: 1px solid $error-hover-color;
  justify-content: flex-start;
}

.mrf-content_switch_button_off::before {
  content: "";
  background-color: $form-bg-color;
  border-radius: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.mrf-content_switch_button_null {
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  background-color: $neutral-color;
  border: 1px solid $neutral-hover-color;
  justify-content: flex-start;
}

.mrf-content_switch_button_null::before {
  content: "";
  background-color: $form-bg-color;
  border-radius: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.react-form-select__menu{
  background-color: $form-bg-color !important;
  border-color: $form-border-color !important;
  color:$form-text-color !important;
}

.react-form-select__option--is-focused{
  background-color: $form-select-hover-color !important;
  color:$form-select-hover-text-color !important;
}