@mixin buttonOutline($color, $darker) {
  color: $color;
  border-color: $color;

  &:hover {
    color: #fff;
    background-color: $color;
    border-color: $darker;
  }

  &.active {
    color: #fff;
    background-color: $color;
    border-color: $darker;
  }
}

.input {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;

  &[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }
}

.btn {
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-width: 1px;
  background-color: #fff;

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}

.btn_sm {
  font-size: 0.875rem;
  padding: .25rem .5rem;
  line-height: 1.5;
  border-radius: .2rem
}

.btn_group {
  &>button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &>button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.btn_red {
  @include buttonOutline(#dc3545, #bd2130)
}

.btn_green {
  @include buttonOutline(#28a745, #1e7e34)
}

.btn_blue {
  @include buttonOutline(#007bff, #0069d9)
}

.btn_grey {
  @include buttonOutline(#6c757d, #5c636a)
}

.txt_red {
  color: #dc3545;
}

.ml_5 {
  margin-left: 5px;
}

.ml_10 {
  margin-left: 10px;
}

.mr_5 {
  margin-right: 5px;
}

.mr_10 {
  margin-right: 10px;
}

.mt_5 {
  margin-top: 5px;
}

.mt_10 {
  margin-top: 10px;
}

.mt_20 {
  margin-top: 20px;
}

.mb_5 {
  margin-bottom: 5px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_20 {
  margin-bottom: 20px;
}

.pt_15 {
  padding-top: 15px;
}

.p_15 {
  padding: 15px;
}

.pr_15 {
  padding-right: 15px;
}

.w_100 {
  width: 100%
}


.w_50 {
  width: 50%
}

.d_none {
  display: none;
}

.flex-wrap {
  flex-wrap: wrap
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex_grow_1 {
  flex-grow: 1;
}

.jc_between {
  justify-content: space-between;
}

.jc_end {
  justify-content: end;
}

.jc_flex_end {
  justify-content: flex-end;
}

.jc_flex_start {
  justify-content: flex-start;
}

.ac_center {
  align-content: center;
}

.ai_center {
  align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.cursor_not_allowed {
  cursor: not-allowed;
}

.collapse {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.collapse_label {
  font-weight: bold;
  margin-top: 7px;
}

.collapse_label {
  font-weight: bold;
  margin-top: 7px;
}

.collapse_error {
  color: #dc3545
}

.datepicker {
  & input {
    border-radius: 4px;
  }
}

.input__boolean__on {
  color: MediumSeaGreen
}

.input__boolean__off {
  color: tomato
}

.input__invalid {
  border-color: #dc3545 !important;
}

.feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%
}

.display__none {
  display: none
}

.collapse__inline {
  & .form-group+.form-group {
    margin-left: 20px
  }
}

.nestedform__border {
  border-left: 2px solid lightGray;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: .5rem;
  padding-bottom: 1rem;
  margin-right: .5rem;
  padding-right: 2.5rem;
}

.border__error {
  border-color: #dc3545
}

.btn_for_descriptionToolbar {
  text-align: left;
  cursor: pointer;
  height: 22px;
  padding: 4px;
  border: none;
  background: none;
  color: #242729;
  margin-right: 5px;
  margin-left: 5px

}

.content_switch_button_on {
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  background-color: green;
  border: 1px solid green;
  justify-content: flex-end
}

.content_switch_button_off {
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  justify-content: flex-start
}

.content_switch_button_null {
  width: 35px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  justify-content: flex-start
}

.switch_button_on {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3)
}

.switch_button_off {
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #dfdfdf;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3)
}

.switch_button_null {
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid #dfdfdf;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3)
}